<form>
  <article>
    <mat-form-field appearance="outline">
      <mat-label>Chars</mat-label>
      <input matInput placeholder="9" type="number" [min]="1" [max]="10" [value]="charsIn">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Numbers</mat-label>
      <input matInput placeholder="6" type="number" [min]="1" [max]="10" [value]="numsIn">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Symbols</mat-label>
      <input matInput placeholder="3" type="number" [min]="1" [max]="10" [value]="symsIn">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Passwords</mat-label>
      <input matInput placeholder="1" type="number" [min]="1" [max]="10" [value]="pwsIn">
    </mat-form-field>
    <button mat-button (click)="onSubmit()">Submit</button>
  </article>
</form>
